@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: rgb(0, 0, 27);
}

.hide-scroll-bar-me-setting-big::-webkit-scrollbar {
  display: none;
}

.hide-scroll-bar-me-setting-big{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button{
  border-width: 1px;
  border-color: rgb(62, 71, 80);
}
